.flex-box{
    justify-content:center;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 10px;
    height: 150px;
}

.item{
    background-color: blue;
    height: 50px;
}