.grid-container{
    display: grid;
    
    grid-template-columns: 20% 80%;
    grid-template-rows: 70px 530px 70px;

    gap: 10px;
    padding: 10px;
    background-color: antiquewhite;
    height: 100hv;
    box-sizing: border-box;
}

header{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: green;
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}

aside{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: blue;
    color: white; text-align: center; line-height: 530px; font-size: 24px;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: blueviolet;
    color: white; text-align: center; line-height: 530px; font-size: 24px;
}

footer{
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: chartreuse;
    color: white; text-align: center; line-height: 70px; font-size: 24px;
}