/* จัดหน้าให้อยู่กลาง */
body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* กล่องพื้นฐาน */
.border-list {
    width: 120px;
    height: 80px;
    border: 2px solid blue;
    background-color: #fff3b0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* โค้ง 20px */
.radius-20 {
    border-radius: 20px;
}

/* โค้ง 50px */
.radius-50 {
    border-radius: 50px;
}

/* โค้งเฉพาะด้านบน */
.radius-top {
    border-radius: 30px 30px 0 0;
}

/* วงกลม */
.circle {
    width: 100px;
    height: 100px;
    background-color: #a0e7e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
